@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 10 10 10;
  --background: 237 237 237;

  --color-error: 220 38 38;
  --color-success: 22 163 74;
  --color-warning: 245 158 11;
  --color-info: 37 99 235;

  --text-3xs: 8px;
  --text-2xs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 36px;
  --text-4xl: 48px;
  --text-5xl: 60px;
  --text-6xl: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--roboto);
  font-weight: 400;
}

.deborder1 {
  border: 1px solid red;
}

.deborder2 {
  border: 1px solid blue;
}
.deborder3 {
  border: 1px solid green;
}
.deborder4 {
  border: 1px solid peru;
}
